{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>intro to django</title>
    <link rel="stylesheet" href="{% static 'home.css'%}"/>


</head>
<body>
<div class="topnav">
  <a class="active" href="#">Home</a>
  <a href="#">Reg/log</a>
  <a href="#">Contact us</a>
  <a href="#">About us</a>
</div>


<div>
    <center>
        <a href="https://github.com/Ganga31998/ganga/tree/master/app_ganga"><h1>welcome to my project into to django</h1></a>
        <h3>have a nice experence</h3>
    </center>
</div>

</body>
</html>